/* Admin Toolbox
------------------------------ */
#admin, #admin_data {
	position: fixed;
  _position: absolute;
	right: 0px;
	top: 0px;
	width: 150px;
	border-bottom: 1px solid #E6E6DF;
	border-left: 1px solid #E6E6DF;
	background: #fff;
    z-index: 2; 	
    text-align: left;
}
#admin_data {
	top: 0px;
	padding-top: 10px;
	z-index: 1;
	line-height: 1.6em;
	text-align: center;
}
#admin_data ul {
	padding-left: 5px;
}
#admin h3 {
	font-size:12px;
	color: #989;
	margin: 0;
	padding: 0; 
	text-align: center;
}
#admin h3:hover { 
	color: #036; 
}

/* gallery */
label {
	padding: 0 0 0 2em;
}
.topbar h3{
	text-align: left;
	margin: 0 0 5px 0;
}
.topbar {
	margin: 10px 0;
}
.album, .image {
	background-color: #F5F6F5;
	padding: 10px !important;
}
/* Gallery specific stuff
------------------------------ */
.centeredTable td {
	padding: 5px 10px;
	text-align: center;
}
.i {
	background-color: #FAFAFA;
	padding: 10px !important;
	vertical-align: top;
}
.i h4 {
	padding: 5px 0;
	margin: 0;
}
.i h4:hover {
	text-decoration: underline;
}
.album, .image {
	background-color: #F5F6F5;
	padding: 10px !important;
}
.album h4, .image h4 {
	padding: 5px 0;
	margin: 0;
}
.albumdesc h4 {
	padding: 10px 0 0 0.5em;
}
.pages {
	margin: 10px 0;
}
.imageDisplay {
	background-color: white;
	padding: 10px !important;
}
.exif {
	text-align: center;
	position: relative;
	width: 30em !important;
	background-color: #F5F6F5;
	font-size: 0.9em !important;
	width: 50%;
}
#edit-editable_image_truncate, #edit-editable_album_2, .jeip-editfield {
	width:600px;
}
#righthead {
	text-align: right;
	vertical-align: top;
	width: 15em;
}
/* Page Navigation
------------------------------ */
.nextables { 
  margin-top: 10px;
  padding: 5px 10px;
  border: 1px 0 solid white;
  background: #FAFAFA;
  width: 100%;
}
ul.pagelist {
	font-size: 1em;
	clear: both;
	padding: 0;
	margin: 0;
	list-style-type: none;
}
ul.pagelist li {
	display: inline;
}
ul.pagelist li a,ul.pagelist span.disabledlink, .pagelist a {
	padding: 2px;
}
ul.pagelist li.current a {
	text-decoration: none;
	cursor: default;
}
ul.pagelist li.prev {
	margin-right: 10px;
}
ul.pagelist li.next {
	margin-left: 10px;
}
.disabledlink {
	color: #ddd;
	cursor: default;
}
.pagenav {
	clear: both;
}
.disabled_nav {
	visibility: hidden;
	padding: 0 !important;
	margin: 0 !important;
}
.nextables #pagelinked td {
	width: 33%;
}
#pagelinked .pagelist {
	text-align: center;
}
.nextables A.next { 
	float: right;
	text-align: left; 
	height: 100%;
}
.nextables A.prev { 
	float: left; 
	text-align: right; 
	height: 100%;
}
.nextables A:hover, .nextables A:active { 
	text-decoration: none; 
}
#thumbnav td {
	width: 25%;
}
h4.main_formhead {
	display: none;
}
/* Search and archive
------------------------------ */
#tag_cloud .tags a {
	line-height: 1.5em;
}
#edit-editable_image_truncate, #edit-editable_album_2 {
	width:600px;
}
#search_form a {
	display: none;
}
#search_input {
	margin-left: 2.5%;
	width:250px;
}
.indexalbums {
	margin:auto;
	width:95%;
	padding: 5px;
}
.indexalbums .albumthumb {
	width: 280px;
	text-align: center;
	padding: 10px;
}
.indexalbums .albumdesc {
	text-align: left;
	vertical-align: top;
}