/* Admin Toolbox
------------------------------ */
#admin, #admin_data{
	position: fixed;
  _position: absolute;
	right: 0px;
	top: 0px;
	width: 130px;
	border-bottom: 1px solid #E6E6DF;
	border-left: 1px solid #E6E6DF;
	background: #fff;
    z-index: 2; 	text-align: left;
}
#admin_data{
	top: 0px;
	padding-top: 20px;
	z-index: 1;
	line-height: 1.6em;

}
#admin h3 {
	font-size:12px;
	color: #999;
	margin:0;
	padding:0; text-align: center;
}
#admin h3:hover { color: #036; }

/* gallery */
label {
	padding: 0 0 0 2em;
}
.topbar h3{
	text-align: left;
	margin: 0 0 5px 0;
}
.topbar {
	margin-top: 10px;
}
.album, .image {
	background-color: #F5F6F5;
	padding: 10px !important;
}
.centeredTable {
	margin-top: 5px;
}
.album h4, .image h4 {
	padding: 5px 0;
	margin: 0;
}
.pages {
	margin: 10px 0;
}
.imageDisplay {
	background-color: white;
	padding: 10px !important;
}
.exif {
	text-align: center;
	position: relative;
	width: 30em !important;
	background-color: #F5F6F5;
	font-size: 0.9em;
	width: 50%;
}
#righthead {
	text-align: right;
	vertical-align: top;
	width: 15em;
}
.nextables { 
  margin-top: 10px;
}