/* Marcus Wong */

/* general page layout stuff ------------------------------------------------ */
#user_info {
	position: absolute;
	right: 1em;
	top: 0;
}
/* Messages 
------------------------------ */
.messagebox {
	padding: 20px;
	background-color: #B1F7B6;
	border: 1px solid #009966;
	border-bottom: 5px solid #009966;
	margin-bottom: 10px;
}
.messagebox h2 {
	color: #006633;
	font-size: 100%;
	font-weight: bold;
	margin: 0px;
}

tr {
	vertical-align: top;
}
td {
	padding: 6px 2px;
}