/* gallery */
.album, .image {
	background-color: #FAFAFA;
	padding: 10px !important;
}
/* Gallery specific stuff
------------------------------ */
.centeredTable td {
	padding: 5px 10px;
	text-align: center;
	vertical-align: top;
}
.i {
	background-color: #FAFAFA;
	padding: 10px !important;
	vertical-align: top;
}
.i h4 {
	padding: 5px 0;
	margin: 0;
}
.i h4:hover {
	text-decoration: underline;
}
.album, .image {
	background-color: #FAFAFA;
	padding: 10px !important;
}
.album h4, .image h4 {
	padding: 5px 0;
	margin: 0;
}
.albumdesc h4 {
	padding: 10px 0 0 0.5em;
}
.pages {
	margin: 10px 0;
}
.imageDisplay {
	background-color: white;
	padding: 10px !important;
}
.exif {
	text-align: center;
	position: relative;
	width: 30em !important;
	background-color: #FAFAFA;
	font-size: 0.9em !important;
	width: 50%;
}
#edit-editable_image_truncate, #edit-editable_album_2, .jeip-editfield {
	width:600px;
}
#content .imagetitle p {
	margin: 0 auto 0.8em;
}

/* Page Navigation
------------------------------ */
.pagelist table {
	width: 100%;
}
#thumbnav td {
	width: 25%;
}
h4.main_formhead {
	display: none;
}
/* Search and archive
------------------------------ */
#tag_cloud .tags a {
	line-height: 1.5em;
}
#edit-editable_image_truncate, #edit-editable_album_2 {
	width:600px;
}
.indexalbums {
	margin:auto;
	width:95%;
	padding: 5px;
}
.indexalbums .albumthumb {
	width: 280px;
	text-align: center;
	padding: 10px;
}
.indexalbums .albumdesc {
	text-align: left;
	vertical-align: top;
}

#mailform label {
    display: inline-block;
    vertical-align: top;
	width: 100px;
}

#mailform #message {	
	width: 600px;
    height: 200px;
}