/* for 'tab' section  ------------------------------------------------------ */
.shadetabs {
padding: 3px 0;
margin-left: 0;
margin-top: 10px;
margin-bottom: 0;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
}
.tabcontent {
display:none;
}

/* for 'map' section  ------------------------------------------------------ */
.infobox h5:hover {
	text-decoration: underline;
}
.infobox a:hover {
	text-decoration: none;
}
.infobox h5, a.infobox {
	text-decoration: none;
	line-height: 1.5em;
}
.infobox img {
	margin: 5px;
}
.tabcontent label {
	font-size:95%;
}
.tabcontent table {
	width: 100%;
}
#lineguide .tabcontent {
	height: 2em;
}
v\:* {
	behavior:url(#default#VML);
}
